{% extends "base.html.twig" %} {% block title %}Detail voiture{% endblock %}

{% block body %}

<div class="card" style="width: 18rem">
  <img src="{{ voiture.image }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ voiture.nom }}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre de km :{{ voiture.nbkm }}</li>
    <li class="list-group-item">
      Créee le : {{voiture.createdAt | date('d/m/y')}} à
      {{voiture.createdAt | date('h:m')}}
    </li>
    <a href="{{ url('details', { id: voiture.id }) }}">Plus de Détails </a>
  </ul>
</div>



{% endblock %}